@import "styles.css";
/*

            Tables

*/
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 3rem;
    border: var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
th {
    color: var(--primary-text-color);
    background-color: #f2f2f2;
    font-size: 1.7rem;
}

td{
    font-size: 1.5rem;
}

div.table-mobile{
    display: none;
}

/*

            List

*/

#schedule-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem, 1fr));
    gap:1.5rem
}

#schedule-list .column h2{
    font-size: 2rem;
}

#schedule-list .column h2 span{
    color: var(--primary-text-color);
}

#schedule-list .column li{
    font-size: 1.7rem;
}

/*

            Cards

*/
#exams .cards{
    min-height: 45rem;
}
#exams .cards h3 {
    font-size: 3rem;
    padding-top: 1.5rem;
}

#exams .cards li p i {
    font-size: 1.7rem;
}

/*

            Media queries

*/
@media (min-width: 1640px) {
    section#exams div.cards-container{
        grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
    }
}

@media (min-width: 1023px) and (max-width: 1639px) {
    section#exams div.cards-container{
        grid-template-columns: repeat(auto-fit, minmax(44rem, 1fr));
    }
}


@media (max-width: 1023px) {
    #schedule-list{
        grid-template-columns: repeat(1,1fr);
    }

    section#exams div.cards-container{
        grid-template-columns: repeat(auto-fit , minmax(33rem, 1fr));
    }
}

@media (max-width: 450px) {
    div.table-mobile{
        display: block;
    }

    div.table{
        display: none;
    }

    section#exams div.cards-container{
        grid-template-columns: repeat(auto-fit , minmax(20rem, 1fr));
    }
}