* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  width: 100wh;
  height: 100vh;
}

header {
  width: 100%;
  height: auto;
}

li {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: row;
}

aside,
main {
  height: 100%vw;
  border: 1px solid gray;
  max-width: 100%;
  min-width: 200px;
  padding: 1rem;
}

/* Article Wiki */
#article-wiki {
  justify-content: space-between;
}

footer {
  display: block;
  width: 100%;
  height: auto;
}
