* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  font-family: Arial, sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  height: auto;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ccc;

  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  gap: 1rem;
  padding: 1rem 0;
}

.navbar__left {
  display: flex;
  align-items: center;
  gap: 1rem;
  order: 1;
}

.navbar__left button {
  width: 2.75rem;
  height: 2.75rem;
  background-color: transparent;
  border: none;
}

.navbar__left button:active {
  background-color: #ccc;
  border: 1px solid black;
}

.navbar__left .menu-icon {
  font-size: 20px;
  cursor: pointer;
}

.navbar__left a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.navbar__left a span {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.navbar__left a img {
  height: 3.125rem;
  width: auto;
  margin-right: 0.5rem;
}

.navbar__center {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 0.8rem;
  order: 3;
}

.navbar__center input[type="search"] {
  width: 100%;
  max-width: 400px;
  padding: 0.25rem 0.5rem;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.navbar__center button {
  width: 44px;
  height: 44px;
  border: none;
  background-color: transparent;
  font-weight: bold;
  cursor: pointer;
}

.navbar__center button span {
  display: none;
}

.navbar__center button i {
  display: block;
  font-size: 20px;
}

.navbar__right {
  display: flex;
  align-items: center;
  order: 2;
}

.navbar__right .icon-group {
  display: flex;
  align-items: center;
}

.navbar__right .icon-group a {
  color: #000;
  text-decoration: none;
  font-size: 14px;
}

.navbar__right .more-options {
  font-size: 24px;
  margin-right: 1rem;
  cursor: pointer;
}

#article-container {
  width: 100%;
  max-width: 1200px;
  height: auto;
  display: flex;
  flex-direction: column;
}

#article-container aside,
#article-container main {
  padding: 1rem;
  height: auto;
}

#article-container aside {
  max-width: 320px;
  width: 100%;
}

#article-aside-links {
  width: 100%;
  max-width: 900px;
  height: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

#article-aside-links-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}

footer {
  height: 1.5rem;
  width: 100%;
  text-align: center;
  font-size: large;
  font-weight: thin;
  color: #ccc;

  padding: 2rem;
}

@media (min-width: 600px) {
  .navbar {
    flex-wrap: nowrap;
  }
  .navbar__left {
    order: 1;
  }
  .navbar__center {
    order: 2;
  }
  .navbar__right {
    order: 3;
  }

  #article-container {
    flex-direction: row;
  }

  #article-aside-links-container {
    flex-direction: row;
    align-items: center;
  }
}
