@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import "colors";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Monospaced, sans-serif;
}

body{
  min-width: 280px;
  max-width: 1920px;
  margin: auto;
  background-color: $color-white;
}

%headings{
  font-family: Poppins,Roboto, Monospaced, sans-serif;

}

%gray-paragraph{
  color: $color-gray;
  text-indent: 1rem;
  text-align: justify;
  margin: 0 0.5rem 0.5rem;
}

%flex-section-div{
  display: flex;
  flex-direction: column;
  padding: 1rem 0.5rem;

  div{
    display: flex;
    flex-wrap: wrap;
  }
}

%blue-button{
  padding: .5rem;
  align-self: center;
  right: 0.5rem;
  bottom: 0.5rem;

  border-radius: 1rem;
  border: 0.5px solid $color-gray;
  background-color: $color-medium-blue;

  &:hover{
    background-color: darken($color-medium-blue, 10%);
  }

  a{
    color: $color-white;
    text-decoration: none;
  }
}

