@import "styles.css";
/*

            Departments

*/
#departments ul{
    max-height: 20rem;
}

#departments ul li{
    font-size: 1.7rem;
    color: var(--tertiary-text-color);
}

#departments #departments-container article .column{
    flex: 1 1 45rem;
}

#departments article.row.row-flex-center:nth-child(even){
    flex-direction: row-reverse;
}

/*

            Media Queries

*/
@media (max-width: 500px) {
    #departments ul{
        max-height: 40rem;
    }
}