@import "styles.css";
/*

            Banner

*/
.banner article h1{
    font-size: 5rem;
}
.banner article ul li{
    font-size: 1.7rem;
}

.banner article ul li a, .banner article ul li a:visited{
    color: var(--tertiary-text-color);
}

.banner article ul li:hover{
    margin-left: 1rem;
}

/*

            Cards

*/
.contact-cards .cards-container{
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)) ;
}

.contact-cards .cards{
    min-height: 35rem;
}
.contact-cards .cards h3{
    font-size: 3rem;
}

.contact-cards .cards ul li{
    color: var(--tertiary-text-color);
}

.contact-cards .cards ul li a, .contact-cards .cards ul li a:visited{
    color: var(--primary-text-color);
}

.contact-cards .cards ul li, .contact-cards .cards ul li i,.contact-cards .cards ul li a{
    font-size: 1.7rem;
}

/*

            Form & Map

*/

.contact .row .column.contact-address{
    min-width: 260px;
    max-width: 600px;
    width: 100%;
}

.contact .row .column.contact-address p{
    color: var(--tertiary-text-color);
    font-size: 1.7rem;
    align-self: start;
    margin-top: 2rem;
}

.contact .row .column.contact-address p span{
    color: var(--primary-text-color);
    font-weight: bold;
}

.contact .row .column.contact-address iframe{
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 42rem;
    border-radius: .5rem;
    border: var(--primary-text-color);
    box-shadow: var(--box-shadow);
}

/*

            Media Queries

*/

@media (max-width: 1558px){
    .contact-cards .cards-container{
        grid-template-columns: repeat(auto-fit, minmax(43rem, 1fr)) ;
    }

    .contact .row .column.contact-address{
        padding-top: 2.5rem;
    }
    .contact .row .column.contact-address iframe{
        margin-top: 5rem;
    }
}

@media (max-width: 1242px){
    .contact-cards .cards-container{
        grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr)) ;
    }
    .contact .row .column.contact-address{
        padding-top: 0;
    }
    .contact .row .column.contact-address iframe{
        margin-top: 0;
    }
}

@media (max-width: 450px) {
    .contact-cards .cards-container{
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)) ;
    }
    .contact .row .column{
        flex: 1 1 30rem;
    }
}