/*
 * ----------------------------------------
 *                 Fonts
 * ----------------------------------------
*/
/*
* Poppins
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


/*
 * ----------------------------------------
 *                 Variables
 * ----------------------------------------
*/
:root {
    /* Colors*/
    --primary-text-color: #16a085;
    --secondary-text-color: #444;
    --tertiary-text-color: #777;
    --box-shadow: .5rem .5rem 0 rgba(22,160,133,.2);
    --text-shadow: .4rem .4rem 0 rgba(0,0,0,.2);
    --border: .2rem solid var(--primary-text-color);

    /*Header */
    --header-box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    --background-color: #fff;
    --meunuBtn-bg-color: #eee;
    /*--alt-primary-text-color: rgb(250, 250, 250);*/
    /*--alt-secondary-text-color: rgb(250, 250, 250);*/
    /*--alt-tertiary-text-color: rgb(250, 250, 250);*/

}

/*
 * ----------------------------------------
 *                 General
 * ----------------------------------------
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: none; border: none;
    text-transform: capitalize;
    transition:all 0.2s ease-out;
    text-decoration: none;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

/*
 * ----------------------------------------
 *                 Header
 * ----------------------------------------
*/

.header{
    padding: 2rem 9%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: var(--header-box-shadow);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--background-color);
}

.header .logo{
    font-size: 2.5rem;
    color: var(--secondary-text-color);
}

.header .logo i{
    color: var(--primary-text-color);
}

.header .navbar li{
    display: inline-block;
    list-style: none;
}
.header .navbar a{
    font-size: 1.7rem;
    color: var(--tertiary-text-color);
    margin-left: 2rem;
}

.header .navbar a:hover{
    color: var(--primary-text-color);
}

#menu-btn{
    font-size: 2.5rem;
    border: .5rem;
    background-color: var(--meunuBtn-bg-color);
    color: var(--primary-text-color);
    padding: 1rem 1.5rem;
    cursor: pointer;
    display: none;
}



/*
 * ----------------------------------------
*               Media Queries
 * ----------------------------------------
*/

@media (max-width: 991px){
    html{
        font-size: 55%;
    }
    .header{
        padding: 2rem;
    }
}

@media (max-width: 768px){
    #menu-btn{
        display: initial;
    }

    .header .navbar{
        position: absolute;
        top: 115%;
        right: 2rem;
        border-radius: .5rem;
        box-shadow: var(--box-shadow);
        width: 30rem;
        background: var(--background-color);
        border: var(--border);

        /* Hidde */
        transform: scale(0);
        opacity: 0;
        transform-origin: top right;
        transition: none;

    }

    .header .navbar.active{
        transform: scale(1);
        opacity: 1;
        transition: .2s ease-out;
    }

    .header .navbar li{
        font-size: 2rem;
        display: block;
        margin: 2.5rem;

    }
}

@media (max-width: 450px){
    html{
        font-size: 50%;
    }
}
